/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.layout {
    -fx-background-color:  #fff;
}

.layout2 {
    -fx-background-color: #6221EA;
}

.box {
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
    -fx-background-radius: 13px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 0, 0);
}

.box:hover {
    -fx-background-color: #6221EA;
    -fx-background-radius: 20px;
    -fx-background-radius: 13px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-cursor: hand;
}

.box .label {
    -fx-text-fill: black;
}

.box:hover .label {
    -fx-text-fill: white;
}

.box1 {
    -fx-background-color:  #fff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 0, 0);
}

.btn-back {
    -fx-background-color: #FF6600;
}

.border-left {
    -fx-background-radius: 10px 0px 0px 10px;
}

.link {    
    -fx-border-color: transparent;
}