/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.layout {
    -fx-background-color:  #fff;
}

.layout2 {
    -fx-background-color: #6221EA;
}

.box1 {
    -fx-background-color:  #6221EA;
    -fx-background-radius: 15px;
}

.btn-back {
    -fx-background-color: #FF6600;
}