/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #6221ea;
}

.background {
    -fx-background-color: #6221ea;
}

.box {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.box .label {
    -fx-text-fill: black;
}

.box .link {    
    -fx-text-fill: black;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color:#6221ea;
}